*{
    text-decoration: none;
}
.red_text{
    color: #aa0404;
    font-size: 15px;

}

.green_text{

    color: #016911;
    font-size: 15px;
}
.hidden_div {

    visibility:hidden;
}



textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

#form1{

    display:inline-flex;
    margin-right:1vw;
    margin-left:0.7vw;
    padding-top:0.3vw;
    padding-bottom:0.3vw;
    padding-right:0.3vw;
    padding-left:0.3vw;
    width: 17vw;
    border-radius: 1vw;
    border: 0.1vw solid #023b0b;
    background: white;
    margin-top: 2vh;
}

#form1:focus {
    border: 0.1vw solid #021c3b;
  }

.div_nav {

    height:4.4rem;
    background-color: rgb(238, 245, 238);
    display: inline-flex;
    align-items: baseline;
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 7vh;
    margin-bottom: 4VH;
    min-width: 600px;
}
.div_nav_6 {

    height:1.4rem;
    background-color: rgb(246, 248, 246);
    display: inline-flex;
    align-items: baseline;
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 7vh;
    margin-bottom: 4VH;
    min-width: 600px;
}

.div_nav_7 {

    height:0.05rem;
    background-color: rgb(246, 248, 246);
    display: inline-block;
    align-items: baseline;
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 7vh;
    min-width: 600px;
}


.logo {
    color: rgb(2, 109, 2);
    font-size: 3vh;
    font-family: 'sans-serif';
    border-color: black;
    font-weight: 700;
    padding-left: 1vh;

  }
  .logo_uwu {
    color: rgb(2, 109, 2);
    font-size: 3vh;
    font-family: 'sans-serif';
    border-color: black;
    font-weight: 700;
    margin-left: 1%;
    display: inline-block;
    vertical-align: middle;


  }


.nav_a{
    padding-right: 0.8vw;
    color:black;
    font-size: 2.5vh;
    margin: 1px;
    white-space: nowrap;
    padding-left:1.2vw;
}
.nav_a:hover{
    color:green;
}


.div_nav_2{

    display:inline-block;
    white-space: nowrap;
    margin-top: 2vh;
    padding-left: 0.5vw;


}

.nav_b_2{
    padding: 0.6vh 0.6vw 0.6vh 0.6vw;
    margin-right: 1px;
    color:black;
    font-size: 2.5vh;
    border-radius: 1vw;
    border: 0.1vw solid #023b0b;
    text-align:center;





}


.nav_b_2:hover{
color: white;
background-color:#023b0b ;

}

#form1 input[type=text] {
    width: 15vw;
    height: 3rem;
    border: 0;
    background: white;
    text-align: center;
}
#form1 input::placeholder {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);



 }
 #form1 input:focus::placeholder {
    color: transparent;
  }

#form1 input:focus {
    outline: none;
  }

.submission_button{
    border: 0;
    background-color: white;
    overflow: visible;
}
.w3_image{
    width:100%;
    max-width:2vw;

}

.w3_image:hover{

    cursor: pointer;

}


.div_h1_mid{

    margin-bottom: 1vh;
    padding-left: 1.6vw;
}
.div_h1_mid_v2{

    margin-bottom: 1vh;
    padding-left: 1.6vw;
    display: block
}

.div_h1_mid_2{
    margin-top: 1vh;
    margin-bottom: 30px;
    padding-left: 1.6vw;
    padding-top: 1vh;
}
.div_h1_mid_3{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.h1_mid{


    font-family:'sans-serif';
    font-size: 4vh;
    color: rgb(3, 153, 3);
    font-weight: 100;
    margin-bottom: 5vh;
}
.h1_mid_v66{


    font-family:'sans-serif';
    font-size: 4vh;
    color: rgb(230, 7, 7);
    font-weight: 100;
    margin-bottom: 5vh;
    margin-left: 10px;
}

.h1_mid_2{


    font-family:'sans-serif';
    font-size: 5vh;
    color: rgb(2, 134, 2);
    font-weight: 100;
}
.h1_mid_2_login{


    font-family:'sans-serif';
    font-size: 3.7rex;
    color: rgb(2, 134, 2);
    font-weight: 100;

}

.h1_mid_2_login2{


    font-family:'sans-serif';
    font-size: 27px;
    color: rgb(2, 134, 2);
    font-weight: 100;

}

.h1_mid_2_talent2{


    font-family:'sans-serif';
    font-size: 27px;
    color: rgb(2, 134, 2);
    font-weight: 900;
    padding-top: 15px;
}

.h1_mid_3{


    font-family:'sans-serif';
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    margin: auto;
    margin-bottom: 20px;
    white-space: wrap;
    width:200px;
    text-align: center;
    

}



.nav_b_3{
    margin:20px 20px 20px 30px;
    display: inline-block;
    padding-top: 8vh;
    text-align: center;
    height: 20vh;
    width: 18vw;
    background-color: rgb(238, 245, 238);
    border-radius: 3vh;
    margin-right: 1vw;
    font-family: 'sans-serif';
    color: black;
    font-size: 2.5vh;
    vertical-align: middle;
    box-sizing: border-box;

}


.nav_b_3:hover{
    background-color: rgb(230, 248, 230);
    color: rgb(0, 0, 0);
    font-size: 2.9vh;
    font-weight: 300;
}


.left_column_mid{

    width: 55%;
    float:left;
    padding: 0;
}


.right_column_mid{

    width: 40%;
    float:right;
    margin-right: 3vh;
    margin-top: 3.5vh;
}

.img_1 {

    max-width: 100%;
    height:auto;


  }

.div_footer {

    height:100%;
    background-color: black;
    display: inline-block;
    align-items: baseline;
    width: 100%;
    min-width: 600px;
    margin-top: 4vh;



}

.title_footer{
    padding-top: 7vh;
    color: white;
    font-family: 'sans-serif';
    font-size: 3.3vh;
    font-weight: 550;
    padding-left: 1.5vw;
    float: left;
}

.images_container_footer{

    padding-top: 6vh;
    padding-bottom: 12vh;
    padding-right: 1.5vw;
    float: right;
}

.image_footer_style{

    height: 6.3vh;
    width: 3.15vw;
    border-radius: 100%;
    background-color: white;
}

.image_footer_style:hover{


    background-color:rgb(208, 209, 208);
}


.dropdown{
    display:inline-block;
    vertical-align: middle;
    margin-left: 0.5vw;
}

.dropdown img{
        height: 6.3vh;
        width: 6.3vw;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 2vh 1vw;
    font-size: 2.5vh;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 10vw;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown:hover .content{
    display: block;
}
.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);
}

.dropdown_uwu{
    display:inline-block;
    vertical-align:middle;
    margin-left: 75%;
}



.dropdown_uwu img{

    height: 6.3vh;
    width: 6.3vw;

}
.dropdown_uwu a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 2vh 1vw;
    font-size: 2.5vh;
}
.dropdown_uwu .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 10vw;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);

}
.dropdown_uwu:hover .content{
    display: block;
}
.dropdown_uwu a:hover{
    background-color: hsl(0, 0%, 90%);

}
.left_column_mid_find_talent{

    width: 20%;
    float:left;
    padding-left: 2vw;
}

.right_column_mid_find_talent{

    width: 70%;
    float:right;
    padding-left: 2vw;
}




.checkbox_container h2{

    font-family:'sans-serif';
    font-size:  3.0vh;
    color: rgb(1, 85, 1);
    font-weight: 900;
    margin-bottom: 1.5vh;
    margin-top: 4vh;

}

.checkbox_container h3{

    font-family:'sans-serif';
    font-size:  3.0vh;
    color: rgb(1, 85, 1);
    font-weight: 900;
    margin-bottom: 1.5vh;


}
.checkbox_container h1{

    font-family:'sans-serif';
    font-size:  3.0vh;
    color: rgb(2, 83, 8);
    font-weight: 100;
    margin-bottom: 1.5vh;
    width: 90%;
    margin: auto;


}

.checkbox_container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    border: 0.2vw solid rgb(1, 85, 1);
    border-radius: 100%;
    margin-right: 0.5vw;

  }
  .checkbox_container input[type="checkbox"]::before {
    content: "";
    width: 1.4vw;
    height: 2.7vh;
    clip-path: polygon(35% 78%, 93% 14%, 100% 20%, 65% 58%, 45% 79%, 33% 92%, 8% 56%, 16% 50%);
    transform: scale(0);
    background-color:rgb(1, 85, 1);
  }
  .checkbox_container input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  .checkbox_container input[type="checkbox"]:hover {
    border: 0.2vw solid green;
  }

  .input-checkbox{
    display: flex;
    align-items: center;
    margin-bottom: 1vh;

  }

  .input-checkbox label{
    font-family: 'sans-serif';
    color: black;
    font-size: 2.5vh;

  }

  .input-checkbox-2{
    display: inline-flex;
    align-items: center;
    margin:1vh;

  }

  .input-checkbox-2 label{
    font-family: 'sans-serif';
    color: black;
    font-size: 2.5vh;

  }
  .nav_b_4{
    min-width: 400px;
    margin:20px 0px 20px 30px;
    display: inline-block;
    height: 55vh;
    width: 60vw;
    background-color: rgb(240, 250, 240);
    border: 0.1vw solid rgba(0, 0, 0, 0.151);
    border-radius: 3vh;
    margin-right: 1vw;
    font-family: 'sans-serif';
    box-sizing: border-box;

}

.mid_post_data_talent{
    margin-top: 1vh;
    height: 35%;

    }

.mid_post_text_talent{
        margin-top: 0.5vh;
        height: 45%;
        font-family: 'sans-serif';
        padding-left: 1vw;
        padding-right: 1vw;
        font-size: 2.3vh;
        text-align: justify;
        display:inline-block;
        }
.mid_post_social_talent{
            margin-top: 0.5vh;
            height: 10%;



        }
.left_mid_post_data_talent{
    margin-top: 1vh;
    height: 90%;
    float: left;
    width: 60%;
    display: inline-flex;

}
.right_mid_post_data_talent{
    margin-top: 1vh;
    height: 90%;
    float: right;
    width: 30%;
    display: inline-flex;


}



.img_2 {

    max-width: 7.5vw;
    max-height:90%;
    margin: 0.3vh 0.3vh 0.3vh 0.9vw;

    border-radius: 100%;

  }

.left_mid_post_data_talent_font{

    font-family: 'sans-serif';
    color: black;
    font-size: 2.5vh;

  }

.left_mid_post_data_talent_font_label{

    font-family: 'sans-serif';
    color: black;
    font-size: 2.5vh;
    font-weight: bolder;
  }
  .deck {
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
}
.card{
    display: inline-flex;
    padding-left: 1vw;
}
.div_nav_find_talent {


    text-align: center;
    width: 100%;

}

.nav_a_find_talent{
    padding-right: 0.8vw;
    padding-left:1.2vw;
    font-family: 'sans-serif';
    color: rgb(18, 98, 18);
    font-size: 2.5vh;
    font-weight: 600;
    white-space: nowrap;
}

.nav_a_find_talent:hover{

    color: rgb(240, 45, 45);

}
.button_find_talent {

    margin: 4vh 1vh 1vh 1vh;
    height: 40%;
    width: 80%;
    font-family: 'sans-serif';
    background-color:rgb(18, 98, 18); /* Green */
    font-size: 2.5vh;
    border: 0.1vw solid black;
    border-radius: 1vw;
    color: white;


  }

  .button_find_talent:hover {
    background-color: #aa0404; /* Green */
    cursor: pointer;
    color: white;

}

.big_box_sign_up{

    border: 0.1vh solid rgb(138, 148, 138);
    border-radius: 1vh;
    height: 300px;
    width: 80%;
    margin: auto;
    border-style: solid;
    min-width: 600px;
    margin-bottom: 100px;
    min-height: 400px;


}
.big_box_sign_up_version_2{


    height: 300px;
    width: 80%;
    margin: auto;
    min-width: 600px;
    margin-bottom: 20px;
    min-height: 400px;


}



.big_box_sign_up_2{

    height: 1%;
    width: 80%;
    text-align:
    center;
    margin: auto;
    margin-bottom: 20px;




}
.big_box_sign_up_3{


    height: 500px;
    width: 80%;
    margin: auto;
    margin-top:20px;
    margin-bottom: 20px;
    padding-top: 3vh;


}
.nav_b_12{
    padding: 1.7vh 1.7vw 1.7vh 1.7vw;
    margin-right: 1px;
    color:rgb(255, 255, 255);
    font-size: 2.5vh;
    border-radius: 1vw;
    border: 0.1vw solid #023b0b;
    background-color:#016911 ;
    text-align:center;
    font-family: 'sans-serif';
    height: 2vh;
    white-space: nowrap;
    





}


.nav_b_12:hover{
color: white;
background-color:#06b821 ;

}
.big_box_sign_up_4_left{
    float: left; height: 100%; width: 45%; margin: auto; text-align: center;
}

.big_box_sign_up_4_right{
    float: right; height: 100%; width: 45%; margin: auto; text-align: center;
}

.img_8{

    height: 200px;width: 100px;margin-top: 70px;
}

.margin_bottom_5{

    margin-bottom: 1px;
}


.big_box_sign_up_5{
    height: 3%; width: 80%; margin: auto;text-align: center;padding-top: 0vh; font-family: 'sans-serif';font-size: 2.3vh; }


.a_tag_sign_up{
    color: rgb(11, 145, 4);
}

.a_tag_sign_up:hover{
    color: rgb(14, 196, 5);
    text-decoration: underline;
}

.a_tag_sign_up2 {
    color: rgb(11, 145, 4);
    font-size: 15px;
}

.a_tag_sign_up2:hover{
    color: rgb(14, 196, 5);
    text-decoration: underline;

}


.big_box_sign_up_6{


    height: 175px;
    width: 600px;
    margin: auto;
    margin-bottom: 0;
    min-width: 600px;



}
.big_box_sign_up_6_v2{


    height: 125px;
    width: 600px;
    margin: auto;
    margin-bottom: 0;
    min-width: 600px;



}

.big_box_sign_up_7{


    height: 205vh;
    width: 1000px;
    margin: auto;
    min-width: 600px;
    margin-top: 2vh;
    margin-bottom: 10vh;




}
.big_box_sign_up_77{


    height: 370px;
    width: 1000px;
    margin: auto;
    min-width: 600px;
    margin-top: 2vh;
    border: 0.1vh solid  rgb(24, 24, 24);
    border-radius: 5vh;
    margin-bottom: 10vh;




}

.big_box_sign_up_firm_7{


    height: 1100px;
    width: 1000px;
    margin: auto;
    min-width: 600px;
    margin-top: 2vh;
    border: 0.1vh solid  rgb(24, 24, 24);
    border-radius: 5vh;
    margin-bottom: 10vh;




}


#form6{

    display:block;
    margin: auto;
    border-radius: 10px;
    border: 0.5px solid rgb(4, 137, 4);
    background: white;
    padding: 5px;


}
#form7{

    display:block;
    margin: auto;
    background: white;



}
#form6 input[type=text] {
    width: 70%;
    height: 20px;
    border:0;
    padding-left:1px ;
    /* border: 1vh solid black; */
    background: white;
    text-align: left;
    font-family: 'san-serif';
    font-size: 12px;

}

#form6 input[type=password] {
    width: 70%;
    height: 20px;
    border:0;
    padding-left:1px ;
    /* border: 1vh solid black; */
    background: white;
    text-align: left;
    font-family: 'san-serif';
    font-size: 12px;

}

#form7 input[type=text]{
    width: 90%;
    height: 35px;
    border: 0.2vh solid rgb(2, 109, 2);
    background: white;
    text-align: left;
    font-family: 'san-serif';
    font-size: 20px;
    margin-left: 4.2%;
    margin-bottom: 20px;
    border-radius: 8px;

}


#form7 input[type=password] {
    width: 90%;
    height: 35px;
    border: 0.2vh solid rgb(2, 109, 2);
    background: white;
    text-align: left;
    font-family: 'san-serif';
    font-size: 20px;
    margin-left: 4.2%;
    margin-bottom: 20px;
    border-radius: 8px;
}


.custom-file-upload{
    width: 90%;
    height: 35px;
    border: 0.2vh solid #0671d5;
    background-color:   #0671d5;
    color: white;
    text-align: center;
    font-family: 'san-serif';
    font-size: 25px;
    margin-left: 4.2%;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;

}

.custom-file-upload:hover{

    border: 0.2vh solid #0984f7;
    background-color:   #0984f7;

}

.submission_button_login{

    border: 5px solid #016911 ;
    border-radius: 5px;
    background-color:  #016911 ;
    height: 30px;
    width: 100px;
    position: relative;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
}
.submission_button_login__text{
    color: white;
    text-align: center;
    font-family: 'san-serif';
    font-size: 15px;
    transition: all 0.2s;
}
.submission_button_login--loading .submission_button_login__text{

    visibility: hidden;
    opacity: 0;
}

.submission_button_login--loading::after{

    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 5px solid transparent;
    border-top-color: white ;
    border-radius: 50%;
    animation: button-loading-spinner 1s linear infinite;
}


.custom-file-upload-2{
    width: 90%;
    height: 35px;
    border: 0.2vh solid rgb(2, 109, 2);
    background-color: rgb(2, 109, 2);
    margin-left: 4.2%;
    border-radius: 8px;
    position: relative;
    cursor: pointer;

}

.custom-file-upload-2__text{
    color: white;
    text-align: center;
    font-family: 'san-serif';
    font-size: 25px;
    transition: all 0.2s;
}

.custom-file-upload-2--loading .custom-file-upload-2__text{

    visibility: hidden;
    opacity: 0;
}
.custom-file-upload-2--loading::after{

    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 5px solid transparent;
    border-top-color: white ;
    border-radius: 50%;
    animation: button-loading-spinner 1s linear infinite;
}

@keyframes button-loading-spinner {

    from {

        transform: rotate(0turn);

    }

    to {

        transform: rotate(1turn);

    }

}




.custom-file-upload-3{
    width: 200px;
    height: 35px;
    border: 0.2vh solid rgb(2, 109, 2);
    background-color: rgb(2, 109, 2);
    color: white;
    text-align: center;
    font-family: 'san-serif';
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    margin: auto;
    display:flex;
    padding-left:1.3%;
    margin-top: 10px;

}
.custom-file-upload-2:hover{

    border: 0.2vh solid rgb(3, 166, 3);
    background-color: rgb(3, 166, 3);

}

.custom-file-upload-3:hover{

    border: 0.2vh solid rgb(3, 166, 3);
    background-color: rgb(3, 166, 3);

}

.custom-file-upload-5{
    width: 90%;
    height: 35px;
    border: 0.2vh solid rgb(0, 64, 255);
    background-color: rgb(0, 64, 255);
    color: white;
    text-align: center;
    font-family: 'san-serif';
    font-size: 25px;
    margin-left: 4.2%;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;

}

.custom-file-upload-5:hover{

    border: 0.2vh solid rgb(0, 128, 255);
    background-color: rgb(0, 128, 255);
}

.custom-file-upload-6{
    width: 90%;
    height: 35px;
    border: 0.2vh solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    color: white;
    text-align: center;
    font-family: 'san-serif';
    font-size: 25px;
    margin-left: 4.2%;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;

}

.custom-file-upload-6:hover{

    border: 0.2vh solid rgb(255, 72, 0);
    background-color: rgb(255, 72, 0);

}





#form7 input[type=file] {

    display: none;

}





#form6 input:focus::placeholder {
    color: transparent;
  }

#form6 input:focus {
    outline: none;
  }


#form7 input:focus::placeholder {
    color: transparent;
  }

#form7 input:focus {
    outline: none;
  }
 
#form7 input::placeholder {
    padding:10px;
    font-size: 16px;
    color: rgb(0, 0, 0)
  }
 

#form7 textarea::placeholder {

    color:rgb(0, 0, 0)
  }  

.img_3{


    height: 4vh;
    margin: auto;
    vertical-align: middle;

  }

  .img_4{


    height: 30px;
    margin: auto;
    vertical-align: middle;

  }


  .big_box_sign_up_99{
    height: 50px;   width: 50%; margin: auto;text-align: center;margin-top: 70px; font-family: 'sans-serif';font-size: 15px;white-space: nowrap;position: fixed;left: 40%;

}

.big_box_sign_up_99_2{
    margin: auto;text-align: center; font-family: 'sans-serif';font-size: 15px;

}
.big_box_sign_up_99_2_2{
     margin: auto;text-align: center; font-family: 'sans-serif';font-size: 15px;

}
.big_box_sign_up_99_2_2_3{
    width: 28%;margin: auto;text-align: justify; font-family: 'sans-serif';font-size: 15px;

}
.big_box_sign_up_999{
    height: 1%; width: 80%; margin: auto;text-align: center;padding-top: 0vh; font-family: 'sans-serif';font-size: 15px;margin-top: 10px;

}

.big_box_sign_up_9999{
    height: 1%; width: 80%; margin: auto;text-align: center;padding-top: 0vh; font-family: 'sans-serif';font-size: 15px;margin-top: 10px;
    margin-bottom: 10px;

}

.big_box_login_3{


    height: 23%;
    width: 60%;
    margin: auto;



}
.big_box_login_3_v2{


    height: 17%;
    width: 70%;
    margin: auto;



}
.big_box_login_3_v3{


    height: 23%;
    width: 70%;
    margin: auto;



}
.big_box_talent_3{


    height: 67%;
    width: 90%;
    margin: auto;



}

.big_box_talent_33{


    height: 40%;
    width: 90%;
    margin: auto;



}



.big_box_login_2{

    height: 2%;
    width: 90%;
    text-align:
    center;
    margin: auto;
    margin-bottom: 30px;
}

.big_box_talent_2{

    height: 4%;
    width: 90%;
    text-align:
    center;
    margin: auto;
    margin-bottom: 20px;

}
.big_box_talent_222{

    height: 15%;
    width: 90%;
    text-align:
    center;
    margin: auto;
    margin-bottom: 20px;

}





.submission_button_change{

    border: 5px solid #016911 ;
    border-radius: 5px;
    background-color:  #016911 ;
    font-family: 'san-serif';
    height: 30px;
    width: 175px;
    color: white;
    margin: auto;
    display: flex;
    padding-left: 26.5px ;
    font-size: 15px;



}



.submission_button_login:hover{
    border: 5px solid rgb(5, 178, 51);
    background-color: rgb(5, 178, 51);
    cursor: pointer;


}
.submission_button_change:hover{
    border: 5px solid rgb(5, 178, 51);
    background-color: rgb(5, 178, 51);
    cursor: pointer;


}

.log_in_bottom_2{

    padding: 2px;margin-bottom: 5px ;


}





#form7 #f1000description{
    
    width: 89%;
    height: 80vh;
    border: 0.2vh solid rgb(2, 109, 2);
    background: white;
    text-align: left;
    font-family: 'san-serif';
    font-size: 17px;
    margin-left: 4.2%;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 5px;



}

#form7 #f1000description2{
    
    width: 89%;
    height: 200px;
    border: 0.2vh solid rgb(2, 109, 2);
    background: white;
    text-align: left;
    font-family: 'san-serif';
    font-size: 17px;
    margin-left: 4.2%;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 5px;



}

.talent_indication_url{

    margin: auto;text-align: center;margin-top: 5px;margin-bottom:20px;font-family: 'san-serif';font-size: 17px;color: rgb(0, 0, 0); font-weight: 900;


}

.talent_indication_img{

    margin: auto;text-align: center;margin-top: 5px;margin-bottom:20px;font-family: 'san-serif';font-size: 17px;color: rgb(94, 92, 92);


}

.talent_checkbox_box{

    text-align: center; padding: 10px; width: 80%;margin: auto;margin-bottom: 20px;
}