<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password Part 2</title>
    <link rel="stylesheet", href="https://apiportalfreelancer.lat/static/styles_index_no_log.css"/>
    <!-- <link rel="stylesheet", href="0.DEV_styles_index_no_log.css"/>  -->
</head>
<body >

    <!-- NAVIGATION BAR -->
    <div class="div_nav_6">
        <nav >
            <a href="https://www.w3schools.com" class="logo">Portal Freelancer</a>

        </nav>
    </div>

    <div class="big_box_sign_up_6">
    
        <div class="big_box_login_2">
            <div class="div_h1_mid_3">
                <h1 class="h1_mid_2_login2">
                    Change Password Portal Freelancer
                </h1>
            </div>
        </div>
        <div class="big_box_login_3_v3">
            <form action="/action_page.php" method="get" id="form6" >
                <div class="log_in_bottom_2">
                    <img src="https://apiportalfreelancer.lat/static/user_log_in.svg" alt="Team Effort" class="img_4" >
                    <input type="text" class="input" placeholder="Enter your Email" name="buscar_profesionales" maxlength="80">
                </div>
                <div class="log_in_bottom_2">
                    <img src="https://apiportalfreelancer.lat/static/password.svg" alt="Team Effort" class="img_4" >
                    <input type="password" class="input" placeholder="Enter your Password" name="buscar_profesionales" maxlength="100">
                </div>
                <button type="submit" form="form6" class="submission_button_change" >
                    Change Password
                </button>

            </form>

        </div>

        <div class="big_box_sign_up_99_2_2_3_v9">
            Once you press the button, you will receive an email with instructions to change your password successfully.
    
        </div>
    
    </div>



    <!-- MID SECTION -->




</body>
</html>