<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.4375">
    <title>Donations</title>
    <link rel="stylesheet", href="https://apiportalfreelancer.lat/static/styles_index_no_log.css"/>
    <link rel="icon" type="image/x-icon" href="https://apiportalfreelancer.lat/static/coffee.ico">
    <!-- <link rel="stylesheet", href="0.DEV_styles_index_no_log.css"/>  -->
</head>
<body style="min-width:1200px ;">

    <!-- NAVIGATION BAR -->

    <ul class="ul_navbar">
        <li><a href="https://apiportalfreelancer.lat/" class="logo">Portal Freelancer</a></li>

        <li ><a href="https://apiportalfreelancer.lat/contacts/contacts_normal/" class="nav_a">Find Talent</a></li>
        <li ><a href="https://apiportalfreelancer.lat/talent/signUpTalent/" class="nav_a">Publish Yourself</a></li>
        <li > <a href="https://apiportalfreelancer.lat/" class="nav_a">Porpuse of the App</a></li>
        <li ><a href="https://apiportalfreelancer.lat/complaints/complaints_html/" class="nav_a">Report an Issue</a></li>
        <li ><a href="https://apiportalfreelancer.lat/donations/donations_html/" class="nav_a">Donate</a></li>
        <li >
            <form  id="form1" >

                <input type="text" class="input" placeholder="Search for Professionals" name="buscar_profesionales" maxlength="200" id="lens_button">

                <button  type="button" class="submission_button"  onclick= "lensButtonRequest()">
                    <img src="https://apiportalfreelancer.lat/static/glass.svg" class="w3_image" onMouseOver="this.src='https://apiportalfreelancer.lat/static/glass_red.svg'" onMouseOut="this.src='https://apiportalfreelancer.lat/static/glass.svg'" alt="glass" >
                </button>
            </form>
        </li>

        <li style="float: right;">

            {% if login_role == "superadmin" %}
                <div class="dropdown"> 

                    <img src="https://apiportalfreelancer.lat/static/user.svg">
                    <div class="content">
                        <a href="">Tableau</a>
                        <a href="">Log Out</a>

                    </div>

                </div>
            {% elif login_role == "talent" %}
                <div class="dropdown"> 

                    <img src="https://apiportalfreelancer.lat/static/user.svg">
                    <div class="content">
                        <a href="https://apiportalfreelancer.lat/talent/delUpTalent/">Settings</a>
                        <a href="#" onclick="reloadPageAfterLogOuT(); return false;">Log Out</a>

                    </div>

                </div>
            {% elif login_role == "firm" %}
                <div class="dropdown"> 

                    <img src="https://apiportalfreelancer.lat/static/user.svg">
                    <div class="content">
                        <a href="https://apiportalfreelancer.lat/firm/delUpFirm/">Settings</a>
                        <a href="#" onclick="reloadPageAfterLogOuT(); return false;">Log Out</a>

                    </div>

                </div>

            {% else %}

            <div class="div_nav_2">
                <li style="float: right;"><a href="https://apiportalfreelancer.lat/auth/SigInRouter/" class="nav_b_2">Sign up</a></li>
                <li style="float: right;"><a href="https://apiportalfreelancer.lat/auth/logIn/" class="nav_b_2">Log in</a></li>
            </div>   

            {% endif %}
            
        </li>

    </ul>
                

 


    <div class="big_box_sign_up_77">
    
        <div class="big_box_talent_222">
                <h1 class="h1_mid_2_talent2">
                    Support the Project / Buy me a Coffee
                </h1>
        </div>

        <div class="big_box_talent_3">
            <form id="form7" style="width: 90%;" >

                <!-- <textarea id="f1000description2" placeholder="Use a maximum of 860 characters" name="email_sent" class="input" maxlength="860" ></textarea> -->
                <ul >
                    <li class="li_donation">Coffeeeeeeeeeeeeeeeeeeeeeeeeeeeee</li>
                    <li class="li_donation">Coffeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</li>
                    <li class="li_donation">Coffeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</li>
                    <li class="li_donation">Coffeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</li>
                </ul>

                <button type="button" onclick= "window.open('https://www.buymeacoffee.com/uwuolguin');" class="submission_button_login" id="button_post_log_in" style="width: 200px; height: 50px;"  >
                    <span class="submission_button_login__text" style="font-size: 22px;" > Support the Project</span>
                </button>
            </form>
        </div>

        <br>
        <br>
        <br>
        <div class="big_box_sign_up_999" >
            <div class="hidden_div" id="succesful_post"></div>
            <div class="hidden_div red_text"id="failed_post">Failed Request</div>
        </div>
    
    </div>
        <!-- MID SECTION -->
        <div class="div_footer" style="min-width:1200px;margin-top: 0;">


            <div class="title_footer">
                Portal Freelancer
            </div>
            <div class="images_container_footer">
                <a href="https://www.youtube.com" target="_blank"><img src="https://apiportalfreelancer.lat/static/youtube.svg" alt="" class="image_footer_style" ></a>
                <a href="https://www.facebook.com" target="_blank"><img src="https://apiportalfreelancer.lat/static/facebook.svg" alt="" class="image_footer_style" ></a>
                <a href="https://www.instagram.com" target="_blank"><img src="https://apiportalfreelancer.lat/static/instagram.svg"alt="" class="image_footer_style" ></a>
                <a href="https://www.twitter.com" target="_blank"><img src="https://apiportalfreelancer.lat/static/twitter.svg"alt="" class="image_footer_style" ></a>
    
    
    
            </div>
    
        </div>
        
    
    
<script src="https://apiportalfreelancer.lat/static/scripts_complaints.js"></script>
</body>
</html>