<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.4375">
    <title>Purpose</title>
    <link rel="stylesheet", href="https://apiportalfreelancer.lat/static/styles_index_no_log.css"/>
    <link rel="icon" type="image/x-icon" href="https://apiportalfreelancer.lat/static/coffee.ico">
    <!-- <link rel="stylesheet", href="0.DEV_styles_index_no_log.css"/>  -->
</head>
<body style="min-width:1200px ;">

    <!-- NAVIGATION BAR -->

    <ul class="ul_navbar">
        <li><a href="https://apiportalfreelancer.lat/" class="logo">Portal Freelancer</a></li>

        <li ><a href="https://apiportalfreelancer.lat/contacts/contacts_normal/" class="nav_a">Find Talent</a></li>
        <li ><a href="https://apiportalfreelancer.lat/talent/signUpTalent/" class="nav_a">Publish Yourself</a></li>
        <li > <a href="https://apiportalfreelancer.lat/purpose_html/" class="nav_a">Purpose of the App</a></li>
        <li ><a href="https://apiportalfreelancer.lat/complaints/complaints_html/" class="nav_a">Report an Issue</a></li>
        <li ><a href="https://apiportalfreelancer.lat/donations/donations_html/" class="nav_a">Donate</a></li>
        <li >
            <form  id="form1" >

                <input type="text" class="input" placeholder="Search for Professionals" name="buscar_profesionales" maxlength="200" id="lens_button">

                <button  type="button" class="submission_button"  onclick= "lensButtonRequest()">
                    <img src="https://apiportalfreelancer.lat/static/glass.svg" class="w3_image" onMouseOver="this.src='https://apiportalfreelancer.lat/static/glass_red.svg'" onMouseOut="this.src='https://apiportalfreelancer.lat/static/glass.svg'" alt="glass" >
                </button>
            </form>
        </li>

        <li style="float: right;">

            {% if login_role == "superadmin" %}
                <div class="dropdown"> 

                    <img src="https://apiportalfreelancer.lat/static/user.svg">
                    <div class="content">
                        <a href="">Tableau</a>
                        <a href="">Log Out</a>

                    </div>

                </div>
            {% elif login_role == "talent" %}
                <div class="dropdown"> 

                    <img src="https://apiportalfreelancer.lat/static/user.svg">
                    <div class="content">
                        <a href="https://apiportalfreelancer.lat/talent/delUpTalent/">Settings</a>
                        <a href="#" onclick="reloadPageAfterLogOuT(); return false;">Log Out</a>

                    </div>

                </div>
            {% elif login_role == "firm" %}
                <div class="dropdown"> 

                    <img src="https://apiportalfreelancer.lat/static/user.svg">
                    <div class="content">
                        <a href="https://apiportalfreelancer.lat/firm/delUpFirm/">Settings</a>
                        <a href="#" onclick="reloadPageAfterLogOuT(); return false;">Log Out</a>

                    </div>

                </div>

            {% else %}

            <div class="div_nav_2">
                <li style="float: right;"><a href="https://apiportalfreelancer.lat/auth/SigInRouter/" class="nav_b_2">Sign up</a></li>
                <li style="float: right;"><a href="https://apiportalfreelancer.lat/auth/logIn/" class="nav_b_2">Log in</a></li>
            </div>   

            {% endif %}
            
        </li>

    </ul>
                

 


    <div class="big_box_sign_up_77" style="width: auto;height: auto;">
    
        <div class="big_box_talent_222">
                <h1 class="h1_mid_2_talent2">
                    Purpose of the Application
                </h1>
        </div>

        <div class="big_box_talent_3">


                <!-- <textarea id="f1000description2" placeholder="Use a maximum of 860 characters" name="email_sent" class="input" maxlength="860" ></textarea> -->
                <ul  style="list-style-type: none;">
                    
                    <li class="li_donation" ">Currently the application has two main objectives:
                        <ol >
                            <li class="li_donation" style="margin-bottom: 7px;margin-top: 8px;">Be the first stone in the development of a Free and Open Source Application (such as Libre Office) in the Talent Acquisition Market.   
                            </li>
                            <li class="li_donation" >Demonstrate my Skills as a Web Developer, mainly in the Backend.  
                            </li>

                        </ol>

                    </li>

                    <li class="li_donation">
                        Regarding point one, the application works as follows:
                    </li>
                    <li class="li_donation">
                        Regarding point two, you can check the API documentation <a class="li_donation_a" href="https://apiportalfreelancer.lat/docs">here</a> and the App documentation <a class="li_donation_a" href="https://github.com/uwuolguin/portalfreelancer_api">here.</a> The technologies used in this project are:
                        <ul >
                            <li class="li_donation" style="margin-top: 8px;">FastAPI 
                                as the main Web Framework. It is used for all types of tasks, from creating endpoints to server-side rendering.
                            </li>
                            <li class="li_donation">PostgreSQL as the relational database management system. This App uses SQL almost for everything, you can check for example, that if you want to send an email to other user, there are several limitations, all these limitations are imposed by PostgreSQL.
                            </li>
                            <li class="li_donation">Pydantic for data validation.  
                            </li>
                            <li class="li_donation">Alembic for database migrations. 
                            </li>
                            <li class="li_donation">Git/ GitHub
                            </li>
                            <li class="li_donation">Pil
                            </li>
                            <li class="li_donation">Opencv
                            </li>
                            <li class="li_donation">jose python
                            </li>
                            <li class="li_donation">uvicorn
                            </li>
                            <li class="li_donation">guvicorn
                            </li>
                            <li class="li_donation">digital ocean droplets with ubuntu vm
                            </li>
                            <li class="li_donation">nginx
                            </li>
                            <li class="li_donation">certbot
                            </li>
                            <li class="li_donation">pytest
                            </li>
                            <li class="li_donation">jinja2
                            </li>
                            <li class="li_donation">html/css/js
                            </li>
                            <li class="li_donation">Brevo as the SMTP Server.
                            </li>
                            <li class="li_donation">Buy me a coffee for donations.
                            </li>
                            <li class="li_donation">Tableau to monitor and control the app usage.
                            </li>
                        </ul>
                    </li>
                </ul>

                <br>
        </div>

        <br>
        <br>
        <br>
        <div class="big_box_sign_up_999" >
            <div class="hidden_div" id="succesful_post"></div>
            <div class="hidden_div red_text"id="failed_post">Failed Request</div>
        </div>
    
    </div>
        <!-- MID SECTION -->
        <div class="div_footer" style="min-width:1200px;margin-top: 0;">


            <div class="title_footer">
                Portal Freelancer
            </div>
            <div class="images_container_footer">
                <a href="https://www.youtube.com/channel/UCKt8S-xSKEG_1xJzGtZCvVQ" target="_blank"><img src="https://apiportalfreelancer.lat/static/youtube.svg" alt="" class="image_footer_style" ></a>
                <a href="https://web.facebook.com/profile.php?id=61558465054605" target="_blank"><img src="https://apiportalfreelancer.lat/static/facebook.svg" alt="" class="image_footer_style" ></a>
                <a href="https://www.instagram.com/portalfreelancer.acos/" target="_blank"><img src="https://apiportalfreelancer.lat/static/instagram.svg"alt="" class="image_footer_style" ></a>
                <a href="https://twitter.com/portalfree19762" target="_blank"><img src="https://apiportalfreelancer.lat/static/twitter.svg"alt="" class="image_footer_style" ></a>
    
    
    
            </div>
    
        </div>
        
    
    
<script src="https://apiportalfreelancer.lat/static/scripts_complaints.js"></script>
</body>
</html>