<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.4375">
    <title>Purpose</title>
    <link rel="stylesheet", href="https://apiportalfreelancer.lat/static/styles_index_no_log.css"/>
    <link rel="icon" type="image/x-icon" href="https://apiportalfreelancer.lat/static/coffee.ico">
    <!-- <link rel="stylesheet", href="0.DEV_styles_index_no_log.css"/>  -->
</head>
<body style="min-width:1200px ;">

    <!-- NAVIGATION BAR -->

    <ul class="ul_navbar">
        <li><a href="https://apiportalfreelancer.lat/" class="logo">Portal Freelancer</a></li>

        <li ><a href="https://apiportalfreelancer.lat/contacts/contacts_normal/" class="nav_a">Find Talent</a></li>
        <li ><a href="https://apiportalfreelancer.lat/talent/signUpTalent/" class="nav_a">Publish Yourself</a></li>
        <li > <a href="https://apiportalfreelancer.lat/purpose_html/" class="nav_a">Purpose of the App</a></li>
        <li ><a href="https://apiportalfreelancer.lat/complaints/complaints_html/" class="nav_a">Report an Issue</a></li>
        <li ><a href="https://apiportalfreelancer.lat/donations/donations_html/" class="nav_a">Donate</a></li>
        <li >
            <form  id="form1" >

                <input type="text" class="input" placeholder="Search for Professionals" name="buscar_profesionales" maxlength="200" id="lens_button">

                <button  type="button" class="submission_button"  id="lens_button_id_button" onclick= "lensButtonRequest()">
                    <img src="https://apiportalfreelancer.lat/static/glass.svg" class="w3_image" onMouseOver="this.src='https://apiportalfreelancer.lat/static/glass_red.svg'" onMouseOut="this.src='https://apiportalfreelancer.lat/static/glass.svg'" alt="glass" >
                </button>
            </form>
        </li>

        <li style="float: right;">

            {% if login_role == "superadmin" %}
                <div class="dropdown"> 

                    <img src="https://apiportalfreelancer.lat/static/user.svg">
                    <div class="content">
                        <a href="https://apiportalfreelancer.lat/tableau/tableau_html_panel/">Tableau</a>
                        <a href="https://apiportalfreelancer.lat/tableau/tableau_html_query_all_datasources/">DataSources</a>
                        <a href="https://apiportalfreelancer.lat/tableau/tableau_list_webhooks/">Webhooks</a>
                        <a href="#" onclick="reloadPageAfterLogOuT(); return false;">Log Out</a>

                    </div>

                </div>
            {% elif login_role == "talent" %}
                <div class="dropdown"> 

                    <img src="https://apiportalfreelancer.lat/static/user.svg">
                    <div class="content">
                        <a href="https://apiportalfreelancer.lat/talent/delUpTalent/">Settings</a>
                        <a href="#" onclick="reloadPageAfterLogOuT(); return false;">Log Out</a>

                    </div>

                </div>
            {% elif login_role == "firm" %}
                <div class="dropdown"> 

                    <img src="https://apiportalfreelancer.lat/static/user.svg">
                    <div class="content">
                        <a href="https://apiportalfreelancer.lat/firm/delUpFirm/">Settings</a>
                        <a href="#" onclick="reloadPageAfterLogOuT(); return false;">Log Out</a>

                    </div>

                </div>

            {% else %}

            <div class="div_nav_2">
                <li style="float: right;"><a href="https://apiportalfreelancer.lat/auth/SigInRouter/" class="nav_b_2">Sign up</a></li>
                <li style="float: right;"><a href="https://apiportalfreelancer.lat/auth/logIn/" class="nav_b_2">Log in</a></li>
            </div>   

            {% endif %}
            
        </li>

    </ul>
                

 


    <div class="big_box_sign_up_77" style="width: auto;height: auto;">
    
        <div class="big_box_talent_222">
                <h1 class="h1_mid_2_talent2">
                    Purpose of the Application
                </h1>
        </div>

        <div class="big_box_talent_3" style="margin-top: 45px;">


                <!-- <textarea id="f1000description2" placeholder="Use a maximum of 860 characters" name="email_sent" class="input" maxlength="860" ></textarea> -->
                <ul  style="list-style-type: none;">
                    
                    <li class="li_donation" ">Currently the Application has two main objectives:
                        <ol >
                            <li class="li_donation" style="margin-bottom: 7px;margin-top: 8px;">Lay down the first stone in the development of a Free and Open Source Application (such as Gimp) in the Talent Acquisition Market.   
                            </li>
                            <li class="li_donation" >Demonstrate my Skills as a Web Developer, mainly in the Back-end (Here is the <a class="li_donation_a" href="https://github.com/uwuolguin/portalfreelancer_api" target="_blank" rel="noopener noreferrer" style="color: rgb(2, 117, 29);">Github</a> and <a class="li_donation_a" href="https://apiportalfreelancer.lat/docs" target="_blank" rel="noopener noreferrer" style="color: rgb(2, 117, 29);">API Documentation</a>).   
                            </li>

                        </ol>

                    </li>

                    <li class="li_donation">
                        Regarding point one, the Application works as follows:
                        <ul >
                            <li class="li_donation" style="margin-top: 8px;"> You either have to register as a freelancer or a company. if you don't want to register, clicking <a class="li_donation_a" href="https://apiportalfreelancer.lat/static/Portal_Freelancer_Find_Talent.png" target="_blank" rel="noopener noreferrer" style="color: rgb(2, 117, 29);">here</a>  will take you to a picture displaying the "Find Talent" feature if you want to check it out.
                            </li>
                            <li class="li_donation">
                                If you want to register as a freelancer, you have to consider that:
                                <ul >
                                    <li class="li_donation" style="margin-top: 8px;"> Your Name, Profession, Hourly Rate, Personal Description, GitHub, Linkedin, Instagram, Facebook and Profile Picture are going to be displayed on the "Find Talent" section of the Application.
                                    </li>
                                    <li class="li_donation">
                                        Your Email will be inaccessible from the Application, but Company users will be able to send you proposals by clicking on the "Contact Professional" button.
                                    </li>
                                    <li class="li_donation">
                                        The Categories and Skills you select will be used as filters in the search process.
                                    </li>
                                </ul>
                            </li>
                            <li class="li_donation">If you want to register as a company, you have to keep in mind that every time you click on the "Contact Professional" button, your Company Name, Personalized Message, Contact Email, Contact Phone, Likedin and Instagram will be sent to the potential candidate.
                            </li>
                            <li class="li_donation">Once you are registered, you can log in and start using the Application, the most important feature that it has is the one called "Find Talent", which allows you to send pre-built emails to potential candidates by clicking the "Contact professional" button if you are a company, otherwise, it only allows you to look at the candidates registered on the platform.

                            </li>

                            <li class="li_donation" style="margin-top: 8px;"> A more detailed explanation is being worked on, but due to time constraints it is not yet available, however, the application is a simple, intuitive and easy-to-use solution, so don't be afraid to use it. Please have in consideration that when you create a user the password is hashed.
                            </li>
                        </ul>
                    </li>
                    <li class="li_donation">
                        Regarding point two, you can check the API documentation <a class="li_donation_a" href="https://apiportalfreelancer.lat/docs">here</a> and the Application documentation <a class="li_donation_a" href="https://github.com/uwuolguin/portalfreelancer_api">here.</a> The technologies used in this project are:
                        <ul >
                            <li class="li_donation" style="margin-top: 8px;">FastAPI 
                                as the main Web Framework. It is used for all types of tasks, from creating endpoints to server-side rendering.
                            </li>
                            <li class="li_donation">PostgreSQL as the relational database management system. This Application uses SQL for almost everything, you can see, for example, that if you want to send an email to another user, there are several limitations, all these limitations are imposed by PostgreSQL.
                            </li>
                            <li class="li_donation">Pydantic for data validation and settings management using Python-type annotations. Pydantic ensures that the user input matches the specified data types in the Application.
                            </li>
                            <li class="li_donation">Alembic for database migrations. It allows to:
                                <ul >
                                    <li class="li_donation" style="margin-top: 8px;">Emit ALTER statements to the database in order to change the structure of the tables and other constructs.
                                    </li>
                                    <li class="li_donation">Have a system whereby “migration scripts” are constructed; each script indicates a particular series of steps that can “upgrade” a target database to a new version, and optionally a series of steps that can “downgrade” similarly, doing the same steps in reverse.
                                    </li>
                                    <li class="li_donation">Execute the scripts in a sequential manner.
                                    </li>
                                </ul>
                            </li>
                            <li class="li_donation">Git and GitHub to create, store, manage, share and track changes in the source code of the Application. It also makes the process to push code from the development enviroment to production very easy.
                            </li>
                            <li class="li_donation"> An Ubuntu virtual machine hosted by DigitalOcean on which the Application is deployed.
                            </li>
                            <li class="li_donation">Nginx mainly as a reverse proxy. Currently it is only allowing HTTP and HTTPS traffic, limiting the amount of requests per IP per second, establishing connection timeouts and limiting the amount of data you can upload in each request.
                            </li>
                            <li class="li_donation">Certbot to obtain SSL certificates from Let's Encrypt and also to enable HTTPS on the server.
                            </li>
                            <li class="li_donation">Uvicorn as the binding element that handles the web connections from the browser or api client, so FastAPI can serve the actual request. Uvicorn listens on a socket, receives the connection, does a bit processing and hands the request over to FastAPI.
                            </li>
                            <li class="li_donation">Gunicorn as a process manager running multiple Uvicorn worker processes.
                            </li>
                            <li class="li_donation">OpenCV for human face detection using pre-trained machine learning models.
                            </li>
                            <li class="li_donation">Pillow for image processing.
                            </li>
                            <li class="li_donation">JSON Web Tokens to authorize access to the Application resources.
                            </li>
                            <li class="li_donation">Pytest to write API test cases.
                            </li>
                            <li class="li_donation">Jinja as a fast, expressive, extensible templating engine.
                            </li>
                            <li class="li_donation">HTML, CSS and Javascript for Front-End web development. No Javascript frameworks or libraries are currently being used.
                            </li>
                            <li class="li_donation">Brevo as the SMTP server for sending emails.
                            </li>
                            <li class="li_donation">Buy me a coffee as the donation platform.
                            </li>
                            <li class="li_donation">Tableau for Application monitoring and control.
                            </li>
                        </ul>
                    </li>
                </ul>

                <br>
        </div>

        <br>
        <br>
        <br>
        <div class="big_box_sign_up_999" >
            <div class="hidden_div" id="succesful_post"></div>
            <div class="hidden_div red_text"id="failed_post">Failed Request</div>
        </div>
    
    </div>
        <!-- MID SECTION -->
        <div class="div_footer" style="min-width:1200px;margin-top: 0;">


            <div class="title_footer">
                Portal Freelancer
            </div>
            <div class="images_container_footer">
                <a href="https://www.youtube.com/channel/UCKt8S-xSKEG_1xJzGtZCvVQ" target="_blank"><img src="https://apiportalfreelancer.lat/static/youtube.svg" alt="" class="image_footer_style" ></a>
                <a href="https://web.facebook.com/profile.php?id=61558465054605" target="_blank"><img src="https://apiportalfreelancer.lat/static/facebook.svg" alt="" class="image_footer_style" ></a>
                <a href="https://www.instagram.com/portalfreelancer.acos/" target="_blank"><img src="https://apiportalfreelancer.lat/static/instagram.svg"alt="" class="image_footer_style" ></a>
                <a href="https://twitter.com/portalfree19762" target="_blank"><img src="https://apiportalfreelancer.lat/static/twitter.svg"alt="" class="image_footer_style" ></a>
    
    
    
            </div>
    
        </div>
        
    
    
<script src="https://apiportalfreelancer.lat/static/scripts_complaints.js"></script>
</body>
</html>