<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.4375">
    <title>Tableau</title>
    <link rel="stylesheet", href="https://apiportalfreelancer.lat/static/styles_index_no_log.css"/>
    <link rel="icon" type="image/x-icon" href="https://apiportalfreelancer.lat/static/coffee.ico">
    <script type='module' src='https://10ax.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script>
    <!-- <link rel="stylesheet", href="0.DEV_styles_index_no_log.css"/>  -->
</head>
<body style="min-width:1200px ;">

    <!-- NAVIGATION BAR -->

    <ul class="ul_navbar">
        <li><a href="https://apiportalfreelancer.lat/" class="logo">Portal Freelancer</a></li>

        <li ><a href="https://apiportalfreelancer.lat/contacts/contacts_normal/" class="nav_a">Find Talent</a></li>
        <li ><a href="https://apiportalfreelancer.lat/talent/signUpTalent/" class="nav_a">Publish Yourself</a></li>
        <li > <a href="https://apiportalfreelancer.lat/purpose_html/" class="nav_a">Purpose of the App</a></li>
        <li ><a href="https://apiportalfreelancer.lat/complaints/complaints_html/" class="nav_a">Report an Issue</a></li>
        <li ><a href="https://apiportalfreelancer.lat/donations/donations_html/" class="nav_a">Donate</a></li>
        <li >
            <form  id="form1" >

                <input type="text" class="input" placeholder="Search for Professionals" name="buscar_profesionales" maxlength="200" id="lens_button">

                <button  type="button" class="submission_button" id="lens_button_id_button" onclick= "lensButtonRequest()">
                    <img src="https://apiportalfreelancer.lat/static/glass.svg" class="w3_image" onMouseOver="this.src='https://apiportalfreelancer.lat/static/glass_red.svg'" onMouseOut="this.src='https://apiportalfreelancer.lat/static/glass.svg'" alt="glass" >
                </button>
            </form>
        </li>

        <li style="float: right;">

                <div class="dropdown"> 

                    <img src="https://apiportalfreelancer.lat/static/user.svg">
                    <div class="content">
                        <a href="https://apiportalfreelancer.lat/tableau/tableau_html_panel/">Tableau</a>
                        <a href="#" onclick="reloadPageAfterLogOuT(); return false;">Log Out</a>

                    </div>

                </div>
       
        </li>

    </ul>
                

    <tableau-viz id='tableau-viz' src='https://10ax.online.tableau.com/t/portalfreelancer/views/ControlPanel/Dashboard8' width='1000' height='650' toolbar='bottom' ></tableau-viz>

<!--  -->
    <ul class="ul_navbar_v2">

    <li >
        <div class="big_box_login_3_v2_v2">
            <form  id="form8" >
                <div class="log_in_bottom_2">
                    <input type="number" class="input" name="talent_id" maxlength="80" required>
                </div>
                <button type="button" onclick= "deleteBanFunction('talentDelete')" class="submission_button_login" id="button_tableau_delete_talent" style="width: 200px;"  >
                    <span class="submission_button_login__text"> Delete Talent</span>
                </button>

            </form>
        </div>
    </li>

    <li >
        <div class="big_box_login_3_v2_v2">
            <form  id="form9" >
                <div class="log_in_bottom_2">
                    <input type="text" class="input"  name="email" maxlength="80" required>
                </div>
                <button type="button" onclick= "postLogIn()" class="submission_button_login" id="button_tableau_delete_firm" style="width: 200px;"  >
                    <span class="submission_button_login__text"> Delete Firm</span>
                </button>

            </form>
        </div>
    </li>

    <li >
        <div class="big_box_login_3_v2_v2">
            <form  id="form10" >
                <div class="log_in_bottom_2">
                    <input type="text" class="input"  name="email" maxlength="80" required>
                </div>
                <button type="button" onclick= "postLogIn()" class="submission_button_login" id="utton_tableau_ban_email" style="width: 200px;"  >
                    <span class="submission_button_login__text"> Ban Email</span>
                </button>

            </form>
        </div>
    </li>

    <li >
        <div class="big_box_login_3_v2_v2">
            <form  id="form11" >
                <div class="log_in_bottom_2">
                    <input type="text" class="input"  name="email" maxlength="80" required>
                </div>
                <button type="button" onclick= "postLogIn()" class="submission_button_login" id="button_tableau_ban_word" style="width: 200px;"  >
                    <span class="submission_button_login__text"> Ban Word</span>
                </button>

            </form>
        </div>
    </li>    
  
    </ul>
        <!-- MID SECTION -->
        <div class="div_footer" style="min-width:1200px;margin-top: 0;">


            <div class="title_footer">
                Portal Freelancer
            </div>
            <div class="images_container_footer">
                <a href="https://www.youtube.com/channel/UCKt8S-xSKEG_1xJzGtZCvVQ" target="_blank"><img src="https://apiportalfreelancer.lat/static/youtube.svg" alt="" class="image_footer_style" ></a>
                <a href="https://web.facebook.com/profile.php?id=61558465054605" target="_blank"><img src="https://apiportalfreelancer.lat/static/facebook.svg" alt="" class="image_footer_style" ></a>
                <a href="https://www.instagram.com/portalfreelancer.acos/" target="_blank"><img src="https://apiportalfreelancer.lat/static/instagram.svg"alt="" class="image_footer_style" ></a>
                <a href="https://twitter.com/portalfree19762" target="_blank"><img src="https://apiportalfreelancer.lat/static/twitter.svg"alt="" class="image_footer_style" ></a>
    
    
    
            </div>
    
        </div>
        
    
    
<script src="https://apiportalfreelancer.lat/static/scripts_tableau.js"></script>
</body>
</html>