<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tableau_extension</title>
    <link rel="icon" type="image/x-icon" href="https://apiportalfreelancer.lat/static/coffee.ico">

    <!-- Extensions Library -->
    <script src="https://apiportalfreelancer.lat/static/tableau.extensions.1.11.0.min.js"></script>

    <!-- Our extension's code -->
    <script src="https://apiportalfreelancer.lat/static/scripts_main_tableau_extension.js"></script>
</head>
<body>

    <!-- NAVIGATION BAR -->


        
    <img src="https://apiportalfreelancer.lat/static/cars_pictures/spresso.png" alt="best_selling_car" width="590" height="450">
    
<script src="https://apiportalfreelancer.lat/static/scripts_tableau.js"></script>
</body>
</html>