<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.4375">
    <title>apiportalfreelancer</title>
    <link rel="stylesheet", href="https://apiportalfreelancer.lat/static/styles_index_no_log.css"/>
    <!-- <link rel="stylesheet", href="0.DEV_styles_index_no_log.css"/>  -->
</head>
<body style="min-width:1200px;">

    <!-- NAVIGATION BAR -->

    <ul class="ul_navbar">
        <li><a href="https://apiportalfreelancer.lat/" class="logo">Portal Freelancer</a></li>

        <li ><a href="https://apiportalfreelancer.lat/contacts/contacts_normal/" class="nav_a">Find Talent</a></li>
        <li ><a href="https://apiportalfreelancer.lat/talent/signUpTalent/" class="nav_a">Publish Yourself</a></li>
        <li > <a href="https://apiportalfreelancer.lat/" class="nav_a">Porpuse of the App</a></li>
        <li ><a href="https://apiportalfreelancer.lat/complaints/complaints_html/" class="nav_a">Report an Issue</a></li>
        <li ><a href="https://apiportalfreelancer.lat/" class="nav_a">Donate</a></li>
        <li >
            <form action="/action_page.php" method="get" id="form1" >

                <input type="text" class="input" placeholder="Search for Professionals" name="buscar_profesionales" maxlength="200" id="lens_button">

                <button type="submit" form="form1" class="submission_button"  onclick= "lensButtonRequest()">
                    <img src="https://apiportalfreelancer.lat/static/glass.svg" class="w3_image" onMouseOver="this.src='https://apiportalfreelancer.lat/static/glass_red.svg'" onMouseOut="this.src='https://apiportalfreelancer.lat/static/glass.svg'" alt="glass" >
                </button>
            </form>
        </li>

        <li style="float: right;">

            {% if login_role == "superadmin" %}
                <div class="dropdown"> 

                    <img src="https://apiportalfreelancer.lat/static/user.svg">
                    <div class="content">
                        <a href="">Settings</a>
                        <a href="">Tableau</a>
                        <a href="">Log Out</a>

                    </div>

                </div>
            {% elif login_role == "not_superadmin" %}
                <div class="dropdown"> 

                    <img src="https://apiportalfreelancer.lat/static/user.svg">
                    <div class="content">
                        <a href="">Settings</a>
                        <a href="">Log Out</a>

                    </div>

                </div>

            {% else %}

            <div class="div_nav_2">
                <li style="float: right;"><a href="https://apiportalfreelancer.lat/auth/SigInRouter/" class="nav_b_2">Sign up</a></li>
                <li style="float: right;"><a href="https://apiportalfreelancer.lat/auth/logIn/" class="nav_b_2">Log in</a></li>
            </div>   

            {% endif %}
            
        </li>

    </ul>


    <div class="div_h1_mid_v2">
        <h1 class="h1_mid">
            Search Professionals by Category
        </h1>

    </div>
    
    <div class="left_column_mid">
            <a href="https://www.w3schools.com" class="nav_b_3">Development and IT</a>  
            <a href="https://www.w3schools.com" class="nav_b_3">AI Services</a>  
            <a href="https://www.w3schools.com" class="nav_b_3">Design and Creative</a>  
            <a href="https://www.w3schools.com" class="nav_b_3">Sales and Marketing</a>    
            <a href="https://www.w3schools.com" class="nav_b_3">Finance and Accounting</a>  
            <a href="https://www.w3schools.com" class="nav_b_3">Engineering and Architecture</a>  
    </div>

    <div class="right_column_mid">
        <img src="https://apiportalfreelancer.lat/static/frrelancer.svg" alt="Team Effort" class="img_1" >
    </div>
    

    
    <!-- <div style="height: 30vh; width: 100%; background-color: red;margin-top: 10vh;
    float: right;"> -->
    <div class="div_footer">


        <div class="title_footer">
            Portal Freelancer
        </div>
        <div class="images_container_footer">
            <a href="https://www.youtube.com" target="_blank"><img src="https://apiportalfreelancer.lat/static/youtube.svg" alt="" class="image_footer_style" ></a>
            <a href="https://www.facebook.com" target="_blank"><img src="https://apiportalfreelancer.lat/static/facebook.svg" alt="" class="image_footer_style" ></a>
            <a href="https://www.instagram.com" target="_blank"><img src="https://apiportalfreelancer.lat/static/instagram.svg"alt="" class="image_footer_style" ></a>
            <a href="https://www.twitter.com" target="_blank"><img src="https://apiportalfreelancer.lat/static/twitter.svg"alt="" class="image_footer_style" ></a>



        </div>

    </div>
    




</body>
</html>