<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.4375">
    <title>Contacts</title>
    <link rel="stylesheet", href="https://apiportalfreelancer.lat/static/styles_index_no_log.css"/>
    <link rel="icon" type="image/x-icon" href="https://apiportalfreelancer.lat/static/coffee.ico">
    <!-- <link rel="stylesheet", href="0.DEV_styles_index_no_log.css"/>  -->
</head>
<body style="min-width:1200px;">

    <!-- NAVIGATION BAR -->

    <ul class="ul_navbar">
        <li><a href="https://apiportalfreelancer.lat/ class="logo">Portal Freelancer</a></li>

        <li ><a href="https://apiportalfreelancer.lat/contacts/contacts_normal/" class="nav_a">Find Talent</a></li>
        <li ><a href="https://apiportalfreelancer.lat/talent/signUpTalent/" class="nav_a">Publish Yourself</a></li>
        <li > <a href="https://apiportalfreelancer.lat/" class="nav_a">Porpuse of the App</a></li>
        <li ><a href="https://apiportalfreelancer.lat/complaints/complaints_html/" class="nav_a">Report an Issue</a></li>
        <li ><a href="https://apiportalfreelancer.lat/" class="nav_a">Donate</a></li>
        <li >
            <form action="/action_page.php" method="get" id="form1" >
                {% if magic_word == "None" %}
                <input type="text" class="input" placeholder="Search for Professionals" name="buscar_profesionales" maxlength="200" id="lens_button">
                {% else %}
                <input type="text" class="input" placeholder="Search for Professionals" name="buscar_profesionales" maxlength="200" id="lens_button" value={{magic_word}}>
                {% endif %}
                <button type="submit" form="form1" class="submission_button"  onclick= "lensButtonRequest()">
                    <img src="https://apiportalfreelancer.lat/static/glass.svg" class="w3_image" onMouseOver="this.src='https://apiportalfreelancer.lat/static/glass_red.svg'" onMouseOut="this.src='https://apiportalfreelancer.lat/static/glass.svg'" alt="glass" >
                </button>
            </form>
        </li>

        <li style="float: right;">

            {% if login_role == "superadmin" %}
                <div class="dropdown"> 

                    <img src="https://apiportalfreelancer.lat/static/user.svg">
                    <div class="content">
                        <a href="">Tableau</a>
                        <a href="">Log Out</a>

                    </div>

                </div>
            {% elif login_role == "talent" %}
                <div class="dropdown"> 

                    <img src="https://apiportalfreelancer.lat/static/user.svg">
                    <div class="content">
                        <a href="https://apiportalfreelancer.lat/talent/delUpTalent/">Settings</a>
                        <a href="#" onclick="reloadPageAfterLogOuT(); return false;">Log Out</a>

                    </div>

                </div>
            {% elif login_role == "firm" %}
                <div class="dropdown"> 

                    <img src="https://apiportalfreelancer.lat/static/user.svg">
                    <div class="content">
                        <a href="https://apiportalfreelancer.lat/firm/delUpFirm/">Settings</a>
                        <a href="#" onclick="reloadPageAfterLogOuT(); return false;">Log Out</a>

                    </div>

                </div>

            {% else %}

            <div class="div_nav_2">
                <li style="float: right;"><a href="https://apiportalfreelancer.lat/auth/SigInRouter/" class="nav_b_2">Sign up</a></li>
                <li style="float: right;"><a href="https://apiportalfreelancer.lat/auth/logIn/" class="nav_b_2">Log in</a></li>
            </div>   

            {% endif %}
            
        </li>

        </ul>

 
        
    </div>
    <!-- MID SECTION -->
    <div class="left_column_mid_find_talent">
        <div class="checkbox_container" id="checkbox_container_skills">
            <h3 >Skills</h3> 
 
            {% for skill in skills %}
            <div class="input-checkbox">
                <input
                type="checkbox"
                onclick= "lensButtonRequest()"
                name={{skill.skill_key|e ~ "-skill"}}
                value={{skill.skill_key|e }}
                id={{skill.skill_key|e ~ "-skill"}}
                {% if skill.skill_key|e ~ "-skill" in skillState %}
                    checked
                {% endif %}
                />
                <label for={{skill.skill_key|e ~ "-skill"}}>{{ skill.skill|e }}</label>
            
            </div>
            {% endfor %}
            
        </div>
        <div class="checkbox_container" id="checkbox_container_categories">

            <h3 >Categories</h3>
            {% for category in categories %}
            <div class="input-checkbox">
                <input
                type="checkbox"
                onclick= "lensButtonRequest()"
                name={{category.category_key|e ~ "-category"}}
                value={{category.category_key|e }}
                id={{category.category_key|e ~ "-category"}}
                {% if category.category_key|e ~ "-category" in categoryState %}
                    checked
                {% endif %}
                />
                <label for={{category.category_key|e ~ "-category"}}>{{ category.category|e }}</label>
            
            </div>
            {% endfor %}

            
        </div>


        
    </div>

    <div class="right_column_mid_find_talent">
        <nav>
            {% for talent in talents %}
            <div class="nav_b_4">
                <div class="mid_post_data_talent">
                    <div class="left_mid_post_data_talent">

                        <img src={{"https://apiportalfreelancer.lat/static/" ~ talent.id|e ~ ".png"}} alt="Team Effort" class="img_2" >
                        <div class="deck">
                            <div class="card">
                                <div class="left_mid_post_data_talent_font_label" >
                                    Name:
                                </div>
                                <div class="left_mid_post_data_talent_font" >
                                    {{talent.full_name|e}}
                                
                                </div>
                            </div>
                            <div class="card">
                                <div class="left_mid_post_data_talent_font_label" >
                                    Title:
                                </div>
                                <div class="left_mid_post_data_talent_font" >
                                    {{talent.profession|e}}
                                </div>
                                    
                            </div>
                            <div class="card">
                                <div class="left_mid_post_data_talent_font_label" >
                                    Rate:
                                </div>
                                <div class="left_mid_post_data_talent_font" >
                                    {{ "$" ~  talent.rate|e ~ "/hr" }}
                                </div>
                                    
                            </div>

                        </div>
                    </div>
                    <div class="right_mid_post_data_talent">
                        
                        <button type="button" onclick= "postLogIn({{"id_var="~ talent.id|e }})" class="submission_button_login" id= "{{"button_post_log_in_"~ talent.id|e }}"   style="width: 350px; height: 50px; border: 1px; border-radius: 25px; margin-right: 25px;"  >
                            <span class="submission_button_login__text" style="font-size: 20px;" > Contact Professional</span>
                        </button>

                        <div  style="text-align: justify; margin-right: 10px;"  class="hidden_div" id="{{"succesful_post_"~ talent.id|e }}"></div>
                        <div  style="text-align: justify; margin-right: 10px;"  class="hidden_div red_text"id="{{"failed_post_"~ talent.id|e }}">Failed Request. You can send and receive 1 email per day. We support the sending of 300 emails per day. Only Companies/Employers can contact professionals</div>

                    </div>



                </div> 
                <div class="mid_post_text_talent">
                    {{talent.description|e}}
                </div>
                <div class="mid_post_social_talent">
                    <div class="div_nav_find_talent">

                        <a href="{{talent.github|e}}" class="nav_a_find_talent">GitHub</a>
                        <a href="{{talent.linkedin|e}}" class="nav_a_find_talent">Linkedin</a>
                        <a href="{{talent.instagram|e}}" class="nav_a_find_talent">Instagram</a>
                        <a href="{{talent.facebook|e}}" class="nav_a_find_talent">Facebook</a>


                    </div>
                </div>

            </div>
            {% endfor %}
            <div class="nav_b_6">
                    <div class="div_nav_find_talent">
                        <button class="w3-button" id="pagination_minus" onclick= "paginationMinusClick()">«</button>

                        {% if paginationState[0] == paginationValue %}
                        <button class="w3-button-m w3-button-active" id="pagination_one" onclick= "paginationBackground(clicked_object=this)">{{paginationState[0]}}</button>
                        {% else %}
                        <button class="w3-button-m" id="pagination_one" onclick= "paginationBackground(clicked_object=this)">{{paginationState[0]}}</button>
                        {% endif %}

                        {% if paginationState[1] == paginationValue %}
                        <button class="w3-button-m w3-button-active" id="pagination_two" onclick= "paginationBackground(clicked_object=this)">{{paginationState[1]}}</button>
                        {% else %}
                        <button class="w3-button-m" id="pagination_two" onclick= "paginationBackground(clicked_object=this)">{{paginationState[1]}}</button>
                        {% endif %}


                        {% if paginationState[2] == paginationValue %}
                        <button class="w3-button-m w3-button-active" id="pagination_three" onclick= "paginationBackground(clicked_object=this)">{{paginationState[2]}}</button>
                        {% else %}
                        <button class="w3-button-m" id="pagination_three" onclick= "paginationBackground(clicked_object=this)">{{paginationState[2]}}</button>
                        {% endif %}


                        {% if paginationState[3] == paginationValue %}
                        <button class="w3-button-m w3-button-active" id="pagination_four" onclick= "paginationBackground(clicked_object=this)">{{paginationState[3]}}</button>
                        {% else %}
                        <button class="w3-button-m" id="pagination_four" onclick= "paginationBackground(clicked_object=this)">{{paginationState[3]}}</button>
                        {% endif %}


                        {% if paginationState[4] == paginationValue %}
                        <button class="w3-button-m w3-button-active" id="pagination_five" onclick= "paginationBackground(clicked_object=this)">{{paginationState[4]}}</button>
                        {% else %}
                        <button class="w3-button-m" id="pagination_five" onclick= "paginationBackground(clicked_object=this)">{{paginationState[4]}}</button>
                        {% endif %}


                        {% if paginationState[5] == paginationValue %}
                        <button class="w3-button-m w3-button-active" id="pagination_six" onclick= "paginationBackground(clicked_object=this)">{{paginationState[5]}}</button>
                        {% else %}
                        <button class="w3-button-m" id="pagination_six" onclick= "paginationBackground(clicked_object=this)">{{paginationState[5]}}</button>
                        {% endif %}


                        {% if paginationState[6] == paginationValue %}
                        <button class="w3-button-m w3-button-active" id="pagination_seven" onclick= "paginationBackground(clicked_object=this)">{{paginationState[6]}}</button>
                        {% else %}
                        <button class="w3-button-m" id="pagination_seven" onclick= "paginationBackground(clicked_object=this)">{{paginationState[6]}}</button>
                        {% endif %}

                        {% if paginationState[7] == paginationValue %}
                        <button class="w3-button-m w3-button-active" id="pagination_eight" onclick= "paginationBackground(clicked_object=this)">{{paginationState[7]}}</button>
                        {% else %}
                        <button class="w3-button-m" id="pagination_eight" onclick= "paginationBackground(clicked_object=this)">{{paginationState[7]}}</button>
                        {% endif %}


                        {% if paginationState[8] == paginationValue %}
                        <button class="w3-button-m w3-button-active" id="pagination_nine" onclick= "paginationBackground(clicked_object=this)">{{paginationState[8]}}</button>
                        {% else %}
                        <button class="w3-button-m" id="pagination_nine" onclick= "paginationBackground(clicked_object=this)">{{paginationState[8]}}</button>
                        {% endif %}


                        {% if paginationState[9] == paginationValue %}
                        <button class="w3-button-m w3-button-active" id="pagination_ten" onclick= "paginationBackground(clicked_object=this)">{{paginationState[9]}}</button>
                        {% else %}
                        <button class="w3-button-m" id="pagination_ten" onclick= "paginationBackground(clicked_object=this)">{{paginationState[9]}}</button>
                        {% endif %}



                        <button class="w3-button" id="pagination_plus" onclick= "paginationPlusClick()">»</button>
                    </div>
            </div>
        </nav>
    </div>

    
    <!-- <div style="height: 30vh; width: 100%; background-color: red;margin-top: 10vh;
    float: right;"> -->
    <div class="div_footer">


        <div class="title_footer">
            Portal Freelancer
        </div>
        <div class="images_container_footer">
            <a href="https://www.youtube.com" target="_blank"><img src="https://apiportalfreelancer.lat/static/youtube.svg" alt="" class="image_footer_style" ></a>
            <a href="https://www.facebook.com" target="_blank"><img src="https://apiportalfreelancer.lat/static/facebook.svg" alt="" class="image_footer_style" ></a>
            <a href="https://www.instagram.com" target="_blank"><img src="https://apiportalfreelancer.lat/static/instagram.svg"alt="" class="image_footer_style" ></a>
            <a href="https://www.twitter.com" target="_blank"><img src="https://apiportalfreelancer.lat/static/twitter.svg"alt="" class="image_footer_style" ></a>



        </div>

    </div>
    



<script src="https://apiportalfreelancer.lat/static/scripts_contacts_normal.js"></script>
</body>
</html>