<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.4375">
    <title>Complaints</title>
    <link rel="stylesheet", href="https://apiportalfreelancer.lat/static/styles_index_no_log.css"/>
    <!-- <link rel="stylesheet", href="0.DEV_styles_index_no_log.css"/>  -->
</head>
<body style="min-width:1200px ; min-height: 1000px;">
<body >

    <!-- NAVIGATION BAR -->

    <ul class="ul_navbar">
        <li><a href="https://www.w3schools.com" class="logo">Portal Freelancer</a></li>

        <li ><a href="https://www.w3schools.com" class="nav_a">Find Talent</a></li>
        <li ><a href="https://www.w3schools.com" class="nav_a">Publish Yourself</a></li>
        <li > <a href="https://www.w3schools.com" class="nav_a">Porpuse of the App</a></li>
        <li ><a href="https://www.w3schools.com" class="nav_a">Report an Issue</a></li>
        <li ><a href="https://www.w3schools.com" class="nav_a">Donate</a></li>
        <li >
            <form action="/action_page.php" method="get" id="form1" >
                <input type="text" class="input" placeholder="Search for Professionals" name="buscar_profesionales" maxlength="200">
                <button type="submit" form="form1" class="submission_button" >
                    <img src="https://apiportalfreelancer.lat/static/glass.svg" class="w3_image" onMouseOver="this.src='https://apiportalfreelancer.lat/static/glass_red.svg'" onMouseOut="this.src='https://apiportalfreelancer.lat/static/glass.svg'" alt="glass" >
                </button>
            </form>
        </li>

        <li style="float: right;">
                <div class="dropdown"> 

                    <img src="https://apiportalfreelancer.lat/static/user.svg">
                    <div class="content">
                        <a href="">Settings</a>
                        <a href="">Log Out</a>

                    </div>

                </div>
        </li>

        </ul>

 
        
    </div>
    <!-- MID SECTION -->
    <div class="left_column_mid_find_talent">
        <div class="checkbox_container">
            <h3 >Skills</h3> 
    
            <div class="input-checkbox">
                <input
                 
                type="checkbox"
                name="Languages"
                value="php"
                id="php"
                />
                <label for="php">PHP</label>
            </div>
    
            <div class="input-checkbox">
                    <input
                     
                    type="checkbox"
                    name="Languages"
                    value="javascript"
                    id="javascript"
                    />
                    <label for="javascript">Javascript</label>
    
                
            </div>
    
            <div class="input-checkbox">
                <input
                 
                type="checkbox"
                name="Languages"
                value="Python"
                id="Python"
                />
                <label for="Python">Python</label>
    
            
            </div>
            <div class="input-checkbox">
                <input
                 
                type="checkbox"
                name="Languages"
                value="Laravel"
                id="Laravel"
                />
                <label for="Laravel">Laravel</label>
            </div>
    
            <div class="input-checkbox">
                    <input
                     
                    type="checkbox"
                    name="Languages"
                    value="Wordpress"
                    id="Wordpress"
                    />
                    <label for="Wordpress">Wordpress</label>
    
                
            </div>
    
            <div class="input-checkbox">
                <input
                 
                type="checkbox"
                name="Languages"
                value="Bootstrap"
                id="Bootstrap"
                />
                <label for="Bootstrap">Bootstrap</label>
    
            
            </div>
            <div class="input-checkbox">
                <input
                 
                type="checkbox"
                name="Languages"
                value="Other"
                id="Other"
                />
                <label for="Other">Other</label>
    
            
            </div>
            <h2 >Categories</h2>
            <div class="input-checkbox">
                <input
                 
                type="checkbox"
                name="Categories"
                value="Development and IT"
                id="Development and IT"
                />
                <label for="Development and IT">Development and IT</label>
            </div>
    
            <div class="input-checkbox">
                    <input
                     
                    type="checkbox"
                    name="Categories"
                    value="AI Services"
                    id="AI Services"
                    />
                    <label for="AI Services">AI Services</label>
    
                
            </div>
    
            <div class="input-checkbox">
                <input
                 
                type="checkbox"
                name="Categories"
                value="Design and Creative"
                id="Design and Creative"
                />
                <label for="Design and Creative">Design and Creative</label>
    
            
            </div>
            <div class="input-checkbox">
                <input
                 
                type="checkbox"
                name="Categories"
                value="Finance and Accounting"
                id="Finance and Accounting"
                />
                <label for="Finance and Accounting">Finance and Accounting</label>
    
            
            </div> 
            <div class="input-checkbox">
                <input
                 
                type="checkbox"
                name="Categories"
                value="Sales and Marketing"
                id="Sales and Marketing"
                />
                <label for="Sales and Marketing">Sales and Marketing</label>

            
        </div>

        <div class="input-checkbox">
            <input
             
            type="checkbox"
            name="Categories"
            value="Engineering and Architecture"
            id="Engineering and Architecture"
            />
            <label for="Engineering and Architecture">Engineering and Architecture</label>

        
        </div>
        <div class="input-checkbox">
            <input
             
            type="checkbox"
            name="Categories"
            value="Other_categories"
            id="Other_categories"
            />
            <label for="Other_categories">Other</label>

        
        </div> 
        </div>
    </div>

    <div class="right_column_mid_find_talent">
        <nav>
            <div class="nav_b_4" style="display: none;">
                <div class="mid_post_data_talent">
                    <div class="left_mid_post_data_talent">

                        <img src="./pictures/profile_picture.png" alt="Team Effort" class="img_2" >
                        <div class="deck">
                            <div class="card">
                                <div class="left_mid_post_data_talent_font_label" >
                                    Name:
                                </div>
                                <div class="left_mid_post_data_talent_font" >
                                    Mahir Warner
                                
                                </div>
                            </div>
                            <div class="card">
                                <div class="left_mid_post_data_talent_font_label" >
                                    Title:
                                </div>
                                <div class="left_mid_post_data_talent_font" >
                                    Industrial Engineer
                                </div>
                                    
                            </div>
                            <div class="card">
                                <div class="left_mid_post_data_talent_font_label" >
                                    Rate:
                                </div>
                                <div class="left_mid_post_data_talent_font" >
                                    $27/hr
                                </div>
                                    
                            </div>

                        </div>

                    </div>
                    <div class="right_mid_post_data_talent">
                        <button class="button_find_talent">Contact Professional</button>
                    </div>
                </div> 
                <div class="mid_post_text_talent">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quos nulla minus consequuntur corporis eligendi at atque aspernatur repellat reiciendis illo iusto repellendus accusantium, quas quibusdam eius saepe mollitia qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Error libero modi ut a iure cumque, suscipit molestiae alias ipsam omnis quidem! Vero sequi provident culpa aliquid delectus impedit inventore minus.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quos nulla minus consequuntur corporis eligendi at atque aspernatur repellat reiciendis illo iusto repellendus accusantium, quas quibusdam eius saepe mollitia qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Error libero modi ut a iure cumque, suscipit molestiae alias ipsam omnis quidem! Vero sequi provident culpa aliquid delectus impedit inventore minus.
                </div>
                <div class="mid_post_social_talent">
                    <div class="div_nav_find_talent">

                        <a href="https://www.w3schools.com" class="nav_a_find_talent">GitHub</a>
                        <a href="https://www.w3schools.com" class="nav_a_find_talent">Linkedin</a>
                        <a href="https://www.w3schools.com" class="nav_a_find_talent">Instagram</a>
                        <a href="https://www.w3schools.com" class="nav_a_find_talent">Facebook</a>


                    </div>
                </div>

            </div>
            <div class="nav_b_4">
                <div class="mid_post_data_talent">
                    <div class="left_mid_post_data_talent">

                        <img src="./pictures/profile_picture_2.jpg" alt="Team Effort" class="img_2" >
                        <div class="deck">
                            <div class="card">
                                <div class="left_mid_post_data_talent_font_label" >
                                    Name:
                                </div>
                                <div class="left_mid_post_data_talent_font" >
                                    Jonah Holder
                                
                                </div>
                            </div>
                            <div class="card">
                                <div class="left_mid_post_data_talent_font_label" >
                                    Title:
                                </div>
                                <div class="left_mid_post_data_talent_font" >
                                    Wordpress Developer
                                </div>
                                    
                            </div>
                            <div class="card">
                                <div class="left_mid_post_data_talent_font_label" >
                                    Rate:
                                </div>
                                <div class="left_mid_post_data_talent_font" >
                                    $40/hr
                                </div>
                                    
                            </div>

                        </div>

                    </div>
                    <div class="right_mid_post_data_talent">
                        <button class="button_find_talent">Contact Professional</button>
                    </div>
                </div> 
                <div class="mid_post_text_talent">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quos nulla minus consequuntur corporis eligendi at atque aspernatur repellat reiciendis illo iusto repellendus accusantium, quas quibusdam eius saepe mollitia qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Error libero modi ut a iure cumque, suscipit molestiae alias ipsam omnis quidem! Vero sequi provident culpa aliquid delectus impedit inventore minus.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quos nulla minus consequuntur corporis eligendi at atque aspernatur repellat reiciendis illo iusto repellendus accusantium, quas quibusdam eius saepe mollitia qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Error libero modi ut a iure cumque, suscipit molestiae alias ipsam omnis quidem! Vero sequi provident culpa aliquid delectus impedit inventore minus.
                </div>
                <div class="mid_post_social_talent">
                    <div class="div_nav_find_talent">

                        <a href="https://www.w3schools.com" class="nav_a_find_talent">GitHub</a>
                        <a href="https://www.w3schools.com" class="nav_a_find_talent">Linkedin</a>
                        <a href="https://www.w3schools.com" class="nav_a_find_talent">Instagram</a>
                        <a href="https://www.w3schools.com" class="nav_a_find_talent">Facebook</a>


                    </div>
                </div>

            </div>
            <div class="nav_b_4">
                <div class="mid_post_data_talent">
                    <div class="left_mid_post_data_talent">

                        <img src="./pictures/profile_picture_3.jpg" alt="Team Effort" class="img_2" >
                        <div class="deck">
                            <div class="card">
                                <div class="left_mid_post_data_talent_font_label" >
                                    Name:
                                </div>
                                <div class="left_mid_post_data_talent_font" >
                                    Harriet Kline
                                
                                </div>
                            </div>
                            <div class="card">
                                <div class="left_mid_post_data_talent_font_label" >
                                    Title:
                                </div>
                                <div class="left_mid_post_data_talent_font" >
                                    Project Management Consultant
                                </div>
                                    
                            </div>
                            <div class="card">
                                <div class="left_mid_post_data_talent_font_label" >
                                    Rate:
                                </div>
                                <div class="left_mid_post_data_talent_font" >
                                    $60/hr
                                </div>
                                    
                            </div>

                        </div>

                    </div>
                    <div class="right_mid_post_data_talent">
                        <button class="button_find_talent">Contact Professional</button>
                    </div>
                </div> 
                <div class="mid_post_text_talent">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quos nulla minus consequuntur corporis eligendi at atque aspernatur repellat reiciendis illo iusto repellendus accusantium, quas quibusdam eius saepe mollitia qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Error libero modi ut a iure cumque, suscipit molestiae alias ipsam omnis quidem! Vero sequi provident culpa aliquid delectus impedit inventore minus.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quos nulla minus consequuntur corporis eligendi at atque aspernatur repellat reiciendis illo iusto repellendus accusantium, quas quibusdam eius saepe mollitia qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Error libero modi ut a iure cumque, suscipit molestiae alias ipsam omnis quidem! Vero sequi provident culpa aliquid delectus impedit inventore minus.
                </div>
                <div class="mid_post_social_talent">
                    <div class="div_nav_find_talent">

                        <a href="https://www.w3schools.com" class="nav_a_find_talent">GitHub</a>
                        <a href="https://www.w3schools.com" class="nav_a_find_talent">Linkedin</a>
                        <a href="https://www.w3schools.com" class="nav_a_find_talent">Instagram</a>
                        <a href="https://www.w3schools.com" class="nav_a_find_talent">Facebook</a>


                    </div>
                </div>

            </div>

        </nav>
    </div>
    
    <!-- FOOTER -->
    
    <!-- <div style="height: 30vh; width: 100%; background-color: red;margin-top: 10vh;
    float: right;"> -->
    <div class="div_footer">


        <div class="title_footer">
            Portal Freelancer
        </div>
        <div class="images_container_footer">
            <a href="https://www.google.com" target="_blank"><img src="./pictures/youtube.svg" alt="" class="image_footer_style" ></a>
            <a href="https://www.google.com" target="_blank"><img src="./pictures/facebook.svg" alt="" class="image_footer_style" ></a>
            <a href="https://www.google.com" target="_blank"><img src="./pictures/instagram.svg"alt="" class="image_footer_style" ></a>
            <a href="https://www.google.com" target="_blank"><img src="./pictures/twitter.svg"alt="" class="image_footer_style" ></a>



        </div>

    </div>
    




</body>
</html>