<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet", href="https://apiportalfreelancer.lat/static/styles_index_no_log.css"/>
    <!-- <link rel="stylesheet", href="0.DEV_styles_index_no_log.css"/>  -->
</head>
<body  >

    <!-- NAVIGATION BAR -->

    <div class="div_nav_6">
        <nav >
            <a href="https://www.w3schools.com" class="logo">Portal Freelancer</a>

        </nav>
    </div>

    <div class="big_box_sign_up_version_2">
    
        <div class="big_box_sign_up_2">
            <div class="div_h1_mid_2">
                <h1 class="h1_mid_2">
                    Join as a Company or Freelancer
                </h1>
            </div>
        </div>
        <div class="big_box_sign_up_3">
            <div class="big_box_sign_up_4_left">
                <div class="margin_bottom_5">
                    <img src="https://apiportalfreelancer.lat/static/enterprise.svg" class="img_8">
                </div>
                <h1 class="h1_mid_3">
                    
                        I am a company, hiring for a project
                </h1>
                <a href="https://apiportalfreelancer.lat/firm/signUpFirm/" class="nav_b_12">Join as an Employer</a>

            </div>
            <div class="big_box_sign_up_4_right">
                <div class="margin_bottom_5">
                    <img src="https://apiportalfreelancer.lat/static/client.svg" class="img_8">
                </div>
                <h1 class="h1_mid_3">
                    
                    I am a freelancer, looking for work
                </h1>
                <a href="https://apiportalfreelancer.lat/talent/signUpTalent/" class="nav_b_12">Apply as a Freelancer</a>

            </div>
        </div>

    
    </div>
    <div class="big_box_sign_up_99">
        Already have an account? <a href="https://apiportalfreelancer.lat/auth/logIn/" class="a_tag_sign_up2">Log In</a>
    </div>
    <!-- MID SECTION -->






</body>
</html>