<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.4375">
    <title>Log In</title>
    <link rel="stylesheet", href="https://apiportalfreelancer.lat/static/styles_index_no_log.css"/>
</head>
<body >

    <!-- NAVIGATION BAR -->
    <div class="div_nav_6">
        <nav >
            <a href="https://www.w3schools.com" class="logo">Portal Freelancer</a>

        </nav>
    </div>

    <div class="big_box_sign_up_6">
    
        <div class="big_box_login_2">
            <div class="div_h1_mid_3">
                <h1 class="h1_mid_2_login2">
                    Log in to Portal Freelancer
                </h1>
            </div>
        </div>
        <div class="big_box_login_3">
            <form action="/action_page.php" method="get" id="form6" >
                <div class="log_in_bottom_2">
                    <img src="./pictures/user_log_in.svg" alt="Team Effort" class="img_4" >
                    <input type="text" class="input" placeholder="Enter your Email" name="buscar_profesionales" maxlength="80">
                </div>
                <div class="log_in_bottom_2">
                    <img src="./pictures/password.svg" alt="Team Effort" class="img_4" >
                    <input type="password" class="input" placeholder="Enter your Password" name="buscar_profesionales" maxlength="100">
                </div>
                <button type="submit" form="form6" class="submission_button_login" >
                    Log In
                </button>

            </form>
        </div>

    </div>
    <div class="big_box_sign_up_99_2">
        Don't have a Portal Freelancer account? <a href="https://www.w3schools.com" class="a_tag_sign_up2">Sign Up</a>
    </div>
    <div class="big_box_sign_up_99_2_2">
        Forgot your password? <a href="https://www.w3schools.com" class="a_tag_sign_up2">Recover your password</a>
    </div>


    <!-- MID SECTION -->




</body>
</html>