<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024", initial-scale=1.0">
    <title>Sign Up Talent</title>
    <link rel="stylesheet", href="https://apiportalfreelancer.lat/static/styles_index_no_log.css"/>
</head>
<body >
    <!-- NAVIGATION BAR -->
    <div class="div_nav_7">
        <nav >
            <a href="https://www.w3schools.com" class="logo">Portal Freelancer</a>
        </nav>
    </div>
    <div class="big_box_sign_up_7">    
        <div class="big_box_talent_2">
                <h1 class="h1_mid_2_talent2">
                    Sign up to find Work
                </h1>
        </div>
        <div class="big_box_talent_3">

            <form id="form7" >

                    <input class="input" type="text" name="email" placeholder="Enter your Email"  maxlength="80" required>
                    <input class="input" type="password" name="password" placeholder="Enter your Password"  maxlength="80" required>
                    <label class="custom-file-upload">
                        <input type="file" name="file" id="file" required/>
                        Upload Profile Picture
                    </label>
                    <div class="talent_indication_img">
                        The image cannot exceed 1 MB. in size and has to be a PNG.*
                    </div>
                    <input type="text" class="input" placeholder="Enter your Complete Name" name="full_name" maxlength="80" required>
                    <input type="text" class="input" placeholder="Enter your Profession's name" name="profession" maxlength="80" required>
                    <input type="number" class="input" placeholder="Enter your hourly rate in US dollars, for example ''27'', it has to be a whole number" name="rate" max="10000" required>
                    <textarea id="f1000description2" placeholder="Enter a brief description about your professional background and capabilities. use a maximum of 860 characters" name="description" class="input" maxlength="860" required ></textarea>
                    <div class="talent_indication_url">
                        Valid Url's have to contain at least the https scheme and a host: https://google.com/
                    </div>
                    <input type="text" class="input" placeholder="Enter your GitHub Url | Example: https://github.com/Rob--W" name="github" maxlength="1000" required>
                    <input type="text" class="input" placeholder="Enter your Linkedin Url | Example: https://linkedin.com/in/martin-paul-weiss-klemmer-9183671ba/" name="linkedin" maxlength="1000" required>
                    <input type="text" class="input" placeholder="Enter your Instagram Url (Optional) | Example: https://instagram.com/iliatopuria/" name="instagram" maxlength="1000">
                    <input type="text" class="input" placeholder="Enter your Facebook Url (Optional) | Example: https://facebook.com/zarina.zabala.5" name="facebook" maxlength="1000">

                    <div class="checkbox_container">
                        <h1 >Select your Skills:</h1> 
                        <div class="talent_checkbox_box">
                            {% for skill in skills %}
                            <div class="input-checkbox-2">
                                <input
                                
                                type="checkbox"
                                name={{skill.skill|e}}
                                value={{skill.skill|e}}
                                id={{skill.skill|e}}
                                />
                                <label for={{skill.skill}}>{{skill.skill|e}}</label>
                            
                            </div>
                            {% endfor %}
                        </div>    
                        <h1 >Select your Categories:</h1>
                        <div class="talent_checkbox_box">
                            {% for category in categories %}
                            <div class="input-checkbox-2">
                                <input
                                
                                type="checkbox"
                                name={{category.category|e}}
                                value={{category.category|e}}
                                id={{category.category|e}}
                                />
                                <label for={{category.category}}>{{category.category|e }}</label>
                            
                            </div>
                            {% endfor %}
                        </div> 
                    </div>
            
                <button onclick= "" class="custom-file-upload-2" >
                    Create Account
                </button>

            </form>

            <div class="big_box_sign_up_999">
                Already have an account? <a href="https://www.w3schools.com" class="a_tag_sign_up2">Log In</a>
            </div>
        </div>
    </div>
    <!-- MID SECTION -->
<script src="scripts.js"></script>
</body>
</html>