<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.4375">
    <title>Sign Up Firm</title>
    <link rel="stylesheet", href="https://apiportalfreelancer.lat/static/styles_index_no_log.css"/>
</head>
<body >

    <!-- NAVIGATION BAR -->
    <div class="div_nav_7">
        <nav >
            <a href="https://www.w3schools.com" class="logo">Portal Freelancer</a>

        </nav>
    </div>

    <div class="big_box_sign_up_7">    
        <div class="big_box_talent_2">
                <h1 class="h1_mid_2_talent2">
                    Sign up to find talent
                </h1>
        </div>
        <div class="big_box_talent_3">
            <form action="/action_page.php" method="get" id="form7" >

                    <input type="text" class="input" placeholder="Enter your Email" name="buscar_profesionales" maxlength="80">


                    <input type="password" class="input" placeholder="Enter your Password" name="buscar_profesionales" maxlength="100">


                    <input type="text" class="input" placeholder="Enter your Company's Name" name="buscar_profesionales" maxlength="80">
                    <input type="text" class="input" placeholder="Enter your Company's Contact Email" name="buscar_profesionales" maxlength="80">
                    <input type="text" class="input" placeholder="Enter your Company's Contact Phone" name="buscar_profesionales" maxlength="80">


                    <textarea id="f1000description" placeholder="Enter a brief message (860 characters maximum) that we will send to your potential candidates, keep in mind that the email will have this structure:
                    
                    Hello dear developer,
                    
                    The company (company name) is interested in you and has sent you this message:

                    (MESSAGE WRITTEN IN THIS BOX).
                    
                    Information About the company:
                    
                    -Company's Contact Email
                    -Company's Contact Phone
                    -Company's Linkedin Url
                    -Company's Instagram Url


                    Kind Regards

                    PortalFreelancer Team
                    " name="buscar_profesionales" form="form7" class="input" maxlength="860"></textarea>

                    <div class="talent_indication_url">
                        Valid Url's have to contain at least the https scheme and a host: https://google.com/
                    </div>

                    <input type="text" class="input" placeholder="Enter your Linkedin Url | Example: https://linkedin.com/in/martin-paul-weiss-klemmer-9183671ba/" name="buscar_profesionales" maxlength="1000">

                    <input type="text" class="input" placeholder="Enter your Instagram Url (Optional) | Example: https://instagram.com/iliatopuria/" name="buscar_profesionales" maxlength="1000">

                
                <button type="submit" form="form6" class="custom-file-upload-2" >
                    Create Account
                </button>

            </form>
            <div class="big_box_sign_up_999">
                Already have an account? <a href="https://www.w3schools.com" class="a_tag_sign_up2">Log In</a>
            </div>
    
        </div>

    
    </div>
    <!-- MID SECTION -->





</body>
</html>