<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.4375">
    <title>Sign Up Firm</title>
    <link rel="stylesheet", href="https://apiportalfreelancer.lat/static/styles_index_no_log.css"/>
</head>
<body >

    <!-- NAVIGATION BAR -->
    <div class="div_nav_7">
        <nav >
            <a href="https://www.w3schools.com" class="logo">Portal Freelancer</a>

        </nav>
    </div>

    <div class="big_box_sign_up_7">    
        <div class="big_box_talent_2">
                <h1 class="h1_mid_2_talent2">
                    Update or Delete your Account

                </h1>
        </div>
        <div class="big_box_talent_3">
            <form  id="form7" >

                <input class="input" type="password" name="password" placeholder="Enter your Password"  maxlength="80" required>

                <input class="input" type="text" name="full_name" placeholder="Enter your Company's Name"  maxlength="80" required>
                <input class="input" type="text" name="contact_email" placeholder="Enter your Company's Contact Email"  maxlength="80" required>

                <input type="text" class="input" placeholder="Enter your Company's Contact Phone | Only Numbers" name="contact_phone" maxlength="40" required>

                <textarea id="f1000description" placeholder="Enter a brief message (860 characters maximum) that we will send to your potential candidates, keep in mind that the email will have this structure:
                
                Hello dear developer,
                
                The company (company name) is interested in you and has sent you this message:

                (MESSAGE WRITTEN IN THIS BOX).
                
                Information About the company:
                
                -Company's Contact Email
                -Company's Contact Phone
                -Company's Linkedin Url
                -Company's Instagram Url


                Kind Regards

                PortalFreelancer Team
                "  name="email_template_to_send" class="input" maxlength="860" required ></textarea>

                <div class="talent_indication_url">
                    Valid Url's have to contain at least the https scheme and a host: https://google.com/
                </div>

                <input type="text" class="input" placeholder="Enter your Linkedin Url | Example: https://linkedin.com/in/martin-paul-weiss-klemmer-9183671ba/" name="linkedin" maxlength="1000" required>
                <input type="text" class="input" placeholder="Enter your Instagram Url | Example: https://instagram.com/iliatopuria/" name="instagram" maxlength="1000">

                
                <button type="submit" onclick= "updateTalent()" class="custom-file-upload-2" id="button_post_update"  style="background-color: blue;">
                    <span class="custom-file-upload-2__text"> Update Account</span>
                </button>
                <div class="big_box_sign_up_9999">
                    or
                </div>
                <button type="submit" onclick= "postTalent()" class="custom-file-upload-2" id="button_post_delete" style="background-color: red;" >
                    <span class="custom-file-upload-2__text"> Delete Account</span>
                </button>
            </form>

            <br>
            <div class="big_box_sign_up_999" >
                <div class="hidden_div" id="succesful_post"></div>
                <div class="hidden_div red_text"id="failed_post">Failed Request</div>
            </div>
    
        </div>

    
    </div>
    <!-- MID SECTION -->




<!-- <script src="0.DEV_scripts_pt.js"></script> -->
<script src="https://apiportalfreelancer.lat/static/scripts_udf.js"></script>
</body>
</html>