<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.4375">
    <title>Change Password Part 1</title>
    <link rel="stylesheet", href="https://apiportalfreelancer.lat/static/styles_index_no_log.css"/>
    <link rel="icon" type="image/x-icon" href="https://apiportalfreelancer.lat/static/coffee.ico">
    <!-- <link rel="stylesheet", href="0.DEV_styles_index_no_log.css"/>  -->
</head>
<body >

    <!-- NAVIGATION BAR -->
    <div class="div_nav_6">
        <nav >
            <a href="https://apiportalfreelancer.lat" class="logo">Portal Freelancer</a>

        </nav>
    </div>

    <div class="big_box_sign_up_6_v2">
    
        <div class="big_box_login_2_v333">
            <div class="div_h1_mid_3">
                <h1 class="h1_mid_2_login2">
                    Change Password Portal Freelancer
                </h1>
            </div>
        </div>
        <div class="big_box_login_3_v2">
            <form  id="form6" >
                <div class="log_in_bottom_2">
                    <img src="https://apiportalfreelancer.lat/static/user_log_in.svg" alt="Team Effort" class="img_4" >
                    <input type="text" class="input" placeholder="Enter your Email" name="email" maxlength="80" required>
                </div>
                <button type="button" onclick= "postLogIn()" class="submission_button_login" id="button_post_log_in" style="width: 200px;"  >
                    <span class="submission_button_login__text"> Change Password</span>
                </button>

            </form>
        </div>

        <div class="big_box_sign_up_99_2_2_3_v9_2">
            Once you press the button, you will receive an email with instructions to successfully change your password. Please check your spam folder if you don't see the email.
        </div>
    </div>

    <div class="big_box_sign_up_999" style="margin-top:125px ;">
        <div class="hidden_div" id="succesful_post"></div>
        <div class="hidden_div red_text"id="failed_post">Failed Log In</div>
    </div>
    <!-- MID SECTION -->
    



<script src="https://apiportalfreelancer.lat/static/scripts_cp1.js"></script>
</body>
</html>