<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Demo</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>
<body>
    <p>Hello World</p>
    <table>
        <thead>
            <tr>
                <th>Film Name</th>
                <th>Director</th>
            </tr>
        </thead>
        <tbody>
            {% for film in films %}
            <tr>
                <td>{{film.name}}</td>
                <td>{{film.director}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button>Press Me</button>
</body>
</html>